#canvas {
    background-image: url('../img/layout43lostvikings.png');
}

#player {
    font-size: 26pt;
    bottom: 263px;
    height: 50px;
    left: 43px;
    right: 56px;
}

#counter {
    left: 575px;
    top: 904px;
    width: 110px;
    bottom: 11px;

    font-size: 40pt;
}

#counter2 {
    left: 726px;
    top: 904px;
    width: 110px;
    bottom: 11px;

    font-size: 40pt;
}

#counter3 {
    left: 898px;
    top: 904px;
    width: 110px;
    bottom: 11px;

    font-size: 40pt;
}