
#sponsors {
    padding-top: 10px;
    height: 380px;
    left: 960px;
    bottom: 0;
    right: 0;
    border-top: #f2a65e 1px solid;
}

.left{
    background-color: #272736;
    width: 961px;
    bottom: 0;
}
.top{
    z-index: 100;
    height: 180px;
    right: 961px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #272736;
    border-bottom: none;
}
.schedule{
    left: 10px;
    right: 10px;
    top: 200px;
    height: 480px;
    font-size: 48px;
}
.incentives{
    padding-top: 10px;
    left: 10px;
    right: 10px;
    top: 700px;
    height: 370px;
    font-size: 48px;
}
#incentives {
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}

.incentive {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.incentive-game {
    font-size: 36px;
}

.incentive-title {
    font-size: 32px;
}

.incentive-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 0 -10px;
    max-width: 100%;
}

.incentive-option {
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    border: 1px solid #ff01fc;
    background-color: #ff01fc66;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin: 0 6px;
    flex-shrink: 0;
}

.incentive-option:nth-child(odd) {
    border-color: #01fffc;
    background-color: #01fffc66;
}

.bar-container {
    width: 100%;
    font-size: 30px;
}

.bar{
    background-color: #ff01fc;
    border-radius: 4px;
    height: 50px;
    white-space: nowrap;
    padding-left: 13px;
    box-sizing: border-box;
    text-align: left;
    line-height: 50px;
}

.bargoal{
    float: right;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: right;
    padding-right: 13px;
    box-sizing: border-box;
    margin-bottom: -50px;
    border: 1px solid #ff01fc66;
    border-radius: 10px;
}

#info {
    top: 750px;
    left: 1020px;
    width: 870px;
    height: 200px;
    font-size: 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#info>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

div.half {
    width: 50%;
    box-sizing: border-box;
}

div.half:first-child {
    text-align: right;
    padding-right: 30px;
}

div.half:last-child {
    text-align: left;
    padding-left: 30px;
}


