/* Left side bar */
.left {
    width: 400px;
    bottom: 65px;
}

#sponsors {
    top: 200px;
    left: 0;
    right: 0;
    height: 428px;
    padding-top: 20px;
}
#player {
    font-size: 32pt;
    top: 631px;
}

#playername.longname {
    font-size: 40px;
}
#cam_divider{
    height: 288px;
}
#cam-area{
    width: 368px;
    height: 288px;
    bottom: 0px;
}
.bottom {
    bottom: 60px;
    height: 165px;
    left: 400px;
    right: 0;
}




.screen {
    width: 1520px;
    height: 855px;
}


#clock{
    height: 165px;
    width: 156px;
}
#char{
    height: 48px;
    width: 48px;
    transform: scale(4);
    left: 50px;
    top: 72px
}
#console{
    width: 156px;
}
.skull{
    width: 104px;
    height: 130px;
    background-size: 104px;
}
#estimate{
    text-align: right;
    bottom: 30px;
    right: 10px;
}
#game{
    text-align: left;
    top: 30px;
    left: 160px;
}
#category{
    text-align: left;
    bottom: 30px;
    left: 160px;
}
#release{
    font-size: 32px;
    text-align: center;
    bottom: 20px;
    left: 0;
    right: 0;
}
.counter{
    font-size: 32px;
    text-align: center;
    bottom: 20px;
    left: 0;
    right: 0;
}
#time {
    position: relative;
    height: 100%;
    width: 450px;
}
#gameinfo{
    position: relative;
    height: 100%;
    width: 600px;
}
#extrainfo{
    position: relative;
    height: 100%;
    width: 156px;
}
.deathcounter{
    position: relative;
    height: 100%;
    width: 104px;
}
#timer{
    right: 10px;
    top: 40px;
}