#canvas {
    background-image: url('../img/layout169halo.png');
}

/* Info box */
#info {    
    left: 1023px;
    top: 0;
    bottom: 18px;
    width: 482px;
}

#counter {
    left: 491px;
    top: 0;
    width: 118px;
    bottom: 18px;
}

#counter2 {    
    left: 626px;
    top: 0;
    width: 131px;
    bottom: 18px;
}

#counter3 {
    left: 775px;
    top: 0;
    width: 120px;
    bottom: 21px;
}