#canvas {
    background-image: url('../img/layout169.png');
}

/* Left side bar */
.left {
    width: 400px;
    bottom: 60px;
}

#sponsors {
    top: 210px;
    left: 14px;
    right: 14px;
    height: 350px;
}

#player {
    font-size: 32pt;
    bottom: 10px;
    left: 60px;
    right: 60px;
    height: 40px;
}

.bottom {
    bottom: 60px;
    height: 150px;
    left: 400px;
    right: 0;
}

/* Info box */
#info {
    left: 800px;
    top: 0;
    bottom: 18px;
    width: 680px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    font-size: 18pt;
    padding-bottom: 5px;
}

/* Rows within info box */
#info>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

#game {
    font-size: 22pt;
}


.screen {
    width: 1520px;
    height: 855px;
}
