#canvas {
    background-image: url('../img/layout169.png');
}

/* Left side bar */
.left {
    width: 400px;
    bottom: 60px;
}

#sponsors {
    top: 230px;
    left: 14px;
    right: 14px;
    height: 330px;
}

#webcam {
    bottom: 0;
    right: 0;
    left: 0;
    height: 500px;
}

.bottom {
    bottom: 60px;
    height: 150px;
    left: 400px;
    right: 0;
}

#info {
    display: flex;
    left: 540px;
    top: 0;
    bottom: 18px;
    width: 580px;
}

#counter {
    left: 1200;
    top: 0;
    right: 14px;
    bottom: 18px;
}

.screen {
    width: 1520px;
    height: 855px;
}

.donations {
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
}