#canvas {
    background-image: url('../img/tauko.png');
}

#sponsors {
    top: 260px;
    left: 40px;
    width: 870px;
    height: 390px;
}

#incentives {
    top: 755px;
    left: 40px;
    width: 870px;
    height: 190px;
    overflow: hidden;
}


#info {
    top: 750px;
    left: 1020px;
    width: 870px;
    height: 200px;
    font-size: 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#info>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

div.half {
    width: 50%;
    box-sizing: border-box;
}

div.half:first-child {
    text-align: right;
    padding-right: 30px;
}

div.half:last-child {
    text-align: left;
    padding-left: 30px;
}

#game {
    font-size: 48px;
}

.bar{
    background-color: #ff01fc;
    border-radius: 4px;
    height: 50px;
    padding-left: 13px;
    box-sizing: border-box;
    text-align: left;
    line-height: 50px;
}
.bargoal{
    float: right;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: right;
    padding-right: 13px;
    box-sizing: border-box;
    margin-bottom: -50px;
}