
        <img data-slidetime=6 src="https://vauhtijuoksu.otit.fi/static/spons/Codemate.png">
        <img data-slidetime=6 src="https://vauhtijuoksu.otit.fi/static/spons/TekniikanAkateemiset_Nega_Logo.png">
        <img data-slidetime=6 src="https://vauhtijuoksu.otit.fi/static/spons/tt_logo_white.png">
        <img data-slidetime=6 src="https://vauhtijuoksu.otit.fi/static/spons/UROS_logo_RGB.png">
        <img data-slidetime=6 src="https://vauhtijuoksu.otit.fi/static/spons/mieli_logo_ry_green_rgb_large.png">
        <img data-slidetime=6 src="https://vauhtijuoksu.otit.fi/static/spons/rattoradio-logo-cmyk-2000.png" alt="RattoRadio">
