
        <img data-slidetime=6 src="https://vauhtijuoksu.fi/static/spons/jimms_logo_eitaustaa.png">
        <img data-slidetime=6 src="https://vauhtijuoksu.fi/static/spons/BuuttiSquare.png">
        <img data-slidetime=6 src="https://vauhtijuoksu.fi/static/spons/TekniikanAkateemiset_Nega_Logo.png">
        <img data-slidetime=6 src="https://vauhtijuoksu.fi/static/spons/UROS_logo_web_RGB.png">
        <img data-slidetime=6 src="https://vauhtijuoksu.fi/static/spons/rattoradio-logo-cmyk-2000.png">
