<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/pohina.css">
  <script src="js/data.js"></script>
  <script src="js/carousel.js"></script>
</head>
<body onload="getGames(); initCarousel(); initIncentives();">
  <div id="canvas">
    <div class="bottom">
      <div id="sponsors">
          Yhteistyössä:
          <div id="carousel">
          </div>
      </div>
    </div>
    <div class="donations">
      <div id="sum" class="money"></div>
      <div id="activity">
        <div id="activities" class="activity-slide current" data-slidetime="6000"></div>
        <div id="incentives" class="activity-slide next" data-slidetime="18000"></div>
        <div id="schedule" class="activity-slide previous" data-slidetime="12000">
          <ul>
            <li>Peli: Nyt</li>
            <li>Toinen peli: Kohta</li>
          </ul>
        </div>
      </div>
      <div id="bar"><div id="bar-bar"></div></div>
      <div id="goal" class="money"></div>
    </div>
    <div id="overlay"></div>
  </div>
</body>
</html>
