<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/pohina.css">
  <script src="js/carousel.js"></script>
</head>
<body>
  <div id="canvas">
    <div class="bottom">
      <div id="sponsors">
          Yhteistyössä:
          <div id="carousel">
          </div>
      </div>
    </div>
    <div class="donations">
          <div id="sum" class="money">9999e</div>
          <div id="activity"></div>
          <div id="bar"></div>
          <div id="goal" class="money">9999e</div>
    </div>
      <div id="overlay"></div>
  </div>
</body>
</html>
