<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/sixteen-nine.css">
  <script src="js/data.js"></script>
  <script src="js/carousel.js"></script>
  <script src="js/incentives.js"></script>
</head>
<body onload="getGames(); initCarousel(); initIncentives();">
  <div id="canvas">
    <div class="screen"></div>
    <div class="left">
      <div id="vauhtijuoksu"></div>
      <div id="sponsors">
          Yhteistyössä:
          <div id="carousel">
          </div>
      </div>
      <div id="player">
        <div id="playername">
        Pellaaja
        </div></div>
    </div>
    <div class="bottom">
      <div id="time">
        <div id="clock"></div>
        <div id="estimate">Sampletext</div>
      </div>
      <div id="gameinfo">
          <div id="char"></div>
          <div id="game">Barbie of Swan Lake: The Enchanted Forest</div>
          <div id="category">Any% No Major Glitches Inbound</div>
      </div>
      <div id="extrainfo">
          <div id="console"></div>
          <div id="release">2020</div>
      </div>
      <div id="deathcounter1" class="deathcounter">
          <div class="skull"></div>
          <div class="counter">2020</div>
      </div>
      <div id="deathcounter2" class="deathcounter">
          <div class="skull"></div>
          <div class="counter">2020</div>
      </div>
      <div id="deathcounter3" class="deathcounter">
          <div class="skull"></div>
          <div class="counter">2020</div>
      </div>
      <div id="deathcounter4" class="deathcounter">
          <div class="skull"></div>
          <div class="counter">2020</div>
      </div>
    </div>
    <div class="donations">
          <div id="sum" class="money"></div>
          <div id="activity">
            <div id="activities" class="activity-slide current"></div>
            <div id="incentives" class="activity-slide next"></div>
            <div id="schedule" class="activity-slide previous">
              <ul>
                <li>Peli: Nyt</li>
                <li>Toinen peli: Kohta</li>
              </ul>
            </div>
          </div>
          <div id="bar"><div id="bar-bar"></div></div>
          <div id="goal" class="money"></div>
    </div>
  </div>
</body>
</html>
