<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/sixteen-nine.css">
</head>
<body>
  <div class="canvas">
      <div class="screen"></div>
    <div class="left debug">
      <div id="sponsors" class="bordered">Sponsors</div>
      <div id="webcam" class="bordered debug">Webcam</div>
    </div>
    <div class="bottom debug">
      <div id="info" class="bordered">Info</div>
      <div id="timer" class="bordered">12:00:12.1</div>
    </div>
    <div class="donations debug"></div>
  </div>
</body>
</html>
