<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/tauko.css">
  <script src="js/data.js"></script>
  <script src="js/carousel.js"></script>
  <script src="js/incentives.js"></script>
</head>
<body onload="getGames(); initCarousel(); initIncentives();">
  <div id="canvas"">
    <div id="sponsors">
      <div></div>
    </div>
    <div id="info">
      <div>
        <div id="player"></div>
        <div id="time"></div>
        <div id="estimate"></div>
      </div>
      <div id="game"></div>
      <div>
        <div id="category"></div>
        <div id="console"></div>
      </div>
    </div>
    <div id="incentives">
      <div class="incentive">
        <div class="game"></div>
        <div class="title"></div>
        <div class="info"></div>
      </div>
    </div>
  </div>
</body>
</html>
