@font-face {
    font-family: 'ubuntu';
    src:  url('UbuntuTitling-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'solway';
    src:  url('Solway-Regular.ttf') format('truetype');
}

html, body {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: 'solway';
    color: #ebebdc;
    text-align: center;
}

div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heart{
    position: absolute;
    left: 0;
    top: 0;
}
#rate{
    position: absolute;
    left: -2px;
    top: 30px;
    height: 180px;
    line-height: 180px;
    width: 200px;
    text-shadow: 0 0 5px #382218, 0 0 5px #382218, 0 0 5px #382218, 0 0 5px #382218, 0 0 5px #382218, 0 0 5px #382218 !important;
    font-size: 80px;
}
.container{
    height: 52px;
    width: 52px;
    position: absolute;
    left: 26px;
    top: 26px;
}

.
